.zsh/spaceship
zshconfig/.zprofile
zshconfig/.zprofile.back
Download/*
DailyTools/*
securityNote/
bin/bat
bin/ChatAi
bin/checkoutSubnet.c
bin/checkoutSubnet
bin/getopt_test.sh
bin/conda
bin/clion
bin/gcc-4.8