.zsh/spaceship
security
importFile/frpc/frpc.log
importFile/frps/frps.log
.gitconfig
Download/
bin/bat
bin/ChatAi
bin/checkoutSubnet.c
bin/checkoutSubnet
bin/getopt_test.sh
zshconfig/.zprofile
.gitconfig
bin/conda
