[Unit]
Description=Run frpc 

[Service]
User=Bear
WorkingDirectory=/home/Bear/.dotfile/importFile/frpc
ExecStart=/home/Bear/.dotfile/importFile/frpc/frpc -c /home/Bear/.dotfile/importFile/frpc/frpc.ini
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=frpc.service
